* {
    box-sizing: border-box;
    font-family: "Arial";
}



.contenido {
    display: flex;
    justify-content: space-around;
}

.contenido div{
    margin: 25px auto;
}


.infoPagina {
    background-color: #82E0AA;
    width: 100%;
    
}

.infoPagina p{
    color: white;
}

.contenidoInfoPagina {
    padding: 10px 150px;
}

.contenidoInfoPagina p{
    font-size: 17px;
}

.caja {
    background-color: #F5F5F5;
    width: 250px;
    height: 250px;
    border-style: solid;
    border-radius: 5px;
}

.caja img{
    box-sizing:border-box;
    background-color: #D1EEDE;
    margin: auto;
    padding: 10px 40%;
}

.caja p {
    text-align: center;
}



.myTabs input{
    width: 300px;
}

.myTabs {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
}

.myTabs input[type="radio"]{
    display: none;
}

.myTabs label{
    background:#D1EEDE;
    width: 50%;
    font-weight: bold;
    padding: 10px;
    order: 0;
    justify-content: space-around;
    text-align: center;
}

.myTabs .tab{
    width: 100%;
    order: 1;
    display: none;
}

.myTabs input[type="radio"]:checked + label +.tab {
    display: block;
}

.myTabs input[type="radio"]:checked + label {
    background: #abdbc1;
    
    border-bottom: 5px solid ;
}


@media (max-width: 1050px) {
    .contenido {
       display: flex;
       justify-content: space-around;
       flex-direction: column;
   }
}


@media only screen and (max-width: 600px) {
    .btn-flotante {
       font-size: 14px;
       padding: 12px 20px;
       bottom: 20px;
       right: 20px;
   }
} 

@media screen and (max-width: 768px) {
    #fh5co-aside {
      width: 270px;
      -moz-transform: translateX(-270px);
      -webkit-transform: translateX(-270px);
      -ms-transform: translateX(-270px);
      -o-transform: translateX(-270px);
      transform: translateX(-270px);
    }
  }

@media screen and (max-width: 768px) {
    #fh5co-aside #fh5co-main-menu ul {
      margin: 0 0 2em 0;
    }
  }