<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="es.upv.inodos">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <uses-feature android:name="android.hardware.bluetooth_le" android:required="true"/>

    <application
        android:name="es.upv.inodos.MainApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Inodos">


        <activity android:name=".activities.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".services.MonitorService"
            android:icon="@mipmap/ic_launcher"
            android:label="MonitorService"
            android:enabled="true"
            android:exported="true">
        </service>

        <receiver android:name=".receivers.DeviceWatcher" android:exported="false"/>

        <receiver android:name="es.upv.inodos.receivers.BootCompletedReceiver"
            android:enabled="true"
            android:exported="true"
            android:label="BootCompletedReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"></action>
                <action android:name="android.intent.action.ACTION_BOOT_COMPLETED"></action>
            </intent-filter>
        </receiver>

        <receiver android:name="es.upv.inodos.receivers.BluetoothBroadcastReceiver"
            android:label="BluetoothBroadcastReceiver">
            <intent-filter>
                <action android:name="android.bluetooth.adapter.action.STATE_CHANGED" />
            </intent-filter>
        </receiver>


    </application>

</manifest>