* {
    box-sizing: border-box;
    font-family: "Arial";
}

li, a {
    font-weight: 700;
    font-size: 32px;
    color: black;
    text-decoration: none;
    background-color: #F5F5F5;
    margin: 0 20px;
}

header {
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: center;
    padding: 10px 0;
    background-color: #F5F5F5;
}

header img {
    width: 120px;
    background-color: #F5F5F5;
    margin: 0 20px;
}

.nav_links {
    list-style: none;
}

.contenido {
    display: flex;
    justify-content: space-around;
}

.contenido div{
    margin: 25px auto;
}


.infoPagina {
    background-color: #82E0AA;
    width: 100%;
    
}

.infoPagina p{
    color: white;
}

.contenidoInfoPagina {
    padding: 50px 150px;
}

.contenidoInfoPagina p{
    font-size: 17px;
}

.caja {
    justify-content: center;
    background-color: #F5F5F5;
    width: 250px;
    height: 250px;
    border-style: solid;
    border-radius: 5px;
}

.caja img{
    box-sizing:border-box;
    background-color: #D1EEDE;
    margin: auto;
    padding: 15px 40.5%;
}

.caja p {
    text-align: center;
}












